
    body{
        margin:0; 
    }
    .form_1{
        position:absolute  ; 
        z-index : 2 ; 
        background-color:white ; 
        padding : 100px; 
        margin-left:30% ; 
    }
    .bg_blacck{
        z-index : 1 ; 

        position:absolute ; 
        top: 0 ; 
        width : 100% ; 
        height : 100% ; 
        background-color : rgba(0,0,0,0.8) ; 
    }
    form {
        margin-top:100px; 
    }
    .cursor_pointer:hover{
        cursor:pointer ; 
    }
    .btn_img{
        padding:20px; 
        background-color:#2b2d2e ; 
        border:5px solid #00c4f6 ; 
        border-radius:15px ; 
        color:white ; 
        width : 300px; 
        padding-left:100px;
        padding-right:100px;

    }
    .display_none{
        display:none ; 
    }
    .input_btn_img{
        margin-top:45px; 
    }
    .input_btn_img_1{
        background-color:#2b2d2e ; 
        border:5px solid #00c4f6 ; 
        color:white ; 
        padding-left:125px;
        padding-right:125px;
        padding-top:15px; 
        padding-bottom:15px; 


    }
 
    .uploads__{
color:#00c4f6 ;
text-shadow: 1px 1px #00c4f6  ; 
text-decoration:none ; 
font-size:3em ; 
 
    }
 
 